{% extends 'base1.html' %}
{% load static %}

{% block title %}Log-in{% endblock title %}

{% block content %}
<div class="login-content">
    <div class="login-logo">
        <a href="index.html">
            <img class="align-content" src="{% static 'images/logo.png' %}" alt="">
        </a>
    </div>
    <div class="login-form">
        <h1>Log-in</h1>
        {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
        {% else %}
        <p>Please, use the following form to log-in:</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Username</label>
                {{ form.username }}
                {{ form.username.error }}
            </div>
            <div class="form-group">
                <label>Password</label>
                {{ form.password }}
                {{ form.password.error }}
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
                <label class="pull-right">
                    <a href="#">Forgotten Password?</a>
                </label>

            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
            <div class="social-login-content">
                <div class="social-button">
                    <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i
                            class="ti-facebook"></i>Sign in with facebook</button>
                    <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i
                            class="ti-twitter"></i>Sign in with twitter</button>
                </div>
            </div>
            <div class="register-link m-t-15 text-center">
                <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
